%header
  %h2 
    重置
    = @member[:uid]
    密码
%section
  = form_tag  member_reset_password_path(:member_id => @member[:uid]),:method => :put do
    %p.notice 操作说明：标注红色"*"号的内容为必填项。
    .portlet.box
      %p
        %label 密码
        %span.require *
        %input{name:"member[userPassword]",type:"password"}
        = register_errors(:userPassword,"密码",@errors)
      .item
        %label 重复密码
        %span.require *
        %input{:name => "repeat_password", :type => "password"}

      .clear
    .submit
      = submit_tag "保存",:name => "next",:disable_with => "提交中..."
      = link_to "返回",members_path