- wordage=Infodeploy::Wordage.where(:article_id => news.id).first
- if wordage != nil
  %td= wordage.title
  %td
    = Infodeploy::Channel.find(news.channel_id).name
    |
    - if news.programa_id != nil and news.programa_id != ""
      = Infodeploy::Programa.find(news.programa_id).name
  %td= Infodeploy::Programa.get_kind_name(news.type)
  %td
  %td=news.updated_at.strftime('%Y-%m-%d %H:%M:%S')
- else
  %td 尚未设置
  %td
    = Infodeploy::Channel.find(news.channel_id).name
    - if news.programa_id != nil and news.programa_id != ""
      = Infodeploy::Programa.find(news.programa_id).name
  %td= Infodeploy::Programa.get_kind_name(news.type)
  %td 
  %td=news.updated_at.strftime('%Y-%m-%d %H:%M:%S')
